pip==24.0
pipx==1.5.0
nox==2024.4.15
nox-poetry==1.0.3{% if cookiecutter.use_playwright == "y" %}
playwright==1.44.0{% endif %}
poetry==1.8.3
poetry-plugin-export==1.8.0
pytest==8.2.1
pytest-cov==5.0.0
pytest-django==4.8.0
